[MASTER]
ignore=.venv

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    too-few-public-methods

[FORMAT]
max-line-length=100

[DESIGN]
max-args=8
max-locals=20
max-branches=15
max-statements=60
